header {
  display: flex;
  justify-content: center;
}

h1 {
  color: red;
}

main {
  display: flex;
  justify-content: space-around;
}

.left, .right {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10,32px);
  grid-template-rows: repeat(10, 32px);
}

.cell {
  border: 1px solid black;
}

.cell:hover {
  background-color: grey;
  cursor: pointer;
}

